{
  "name":  "{{projectName}}",
  "version": "{{appVersion}}",
  "description": "{{{appDescription}}}",
  "main": "index.js",
  "keywords": [
    "openapi-generator",
    "openapi"
  ],
  "license": "Unlicense",
  "private": true,
  "dependencies": {
  },
  "eslintConfig": {
    "env": {
      "node": true
    }
  }
}
